<!DOCTYPE html>
<html>
    <Head>
        <title>About</title>
         <link rel="icon" href="/img/weather.png">
       
        <link rel="stylesheet" href="/css/styles.css">


    </Head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This site was created by Sachin Saxena. It uses data from mapbox.com and weatherapi.com</p>
        <img class="portrait" src="/img/robot.png">
        

        </div>
        
        {{>footer}}
    </body>
</html>